.bg-video{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}
